# @see https://docs.expo.dev/guides/environment-variables/
EXPO_PUBLIC_URL=http://localhost:8081
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH

# IMPORTANT: JWT Secret must be at least 32 characters long
DATABASE_URL=postgresql://postgres:postgres@localhost:54322/postgres
SUPABASE_AUTH_JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long
SUPABASE_REDIRECT_URI=http://127.0.0.1:54321/auth/v1/callback

# https://react-native-google-signin.github.io/docs/setting-up/expo
EXPO_PUBLIC_GOOGLE_IOS_SCHEME=com.googleusercontent.apps.163454683152-e4357cqnub2rg3vadkktap71i4nqea88
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=163454683152-e4357cqnub2rg3vadkktap71i4nqea88.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=163454683152-gudal3itet70djlo5iv5a9fg51cvald3.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_MAPS_KEY=AIzaSyAZcoP_LiD7lb7P269dF71UvAfPLVfr22s
GOOGLE_SECRET=GOCSPX-XXX

# Apple Sign In (add your Apple credentials here for production)
APPLE_CLIENT_ID=your-apple-client-id
APPLE_SECRET=your-apple-secret

EXPO_PUBLIC_MAPBOX_API_URL=https://api.mapbox.com
EXPO_PUBLIC_MAPBOX_STYLE_URL=mapbox://styles/scaffald/cm8qye4gt00fa01s3481vhuzl
EXPO_PUBLIC_MAPBOX_TOKEN=pk.eyJ1Ijoic2NhZmZhbGQiLCJhIjoiY204Nmh5NWZ5MDRycTJrcHo0NHc1em5vZCJ9.w8FJ5p2msraGyyOeeLanhg

